USE [DataForUpdateNew]
GO
/****** Object:  Table [dbo].[NEW]    Script Date: 21-Oct-17 20:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NEW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NEW](
	[rn] [int] NOT NULL,
	[Country] [varchar](255) NOT NULL,
	[State] [varchar](255) NOT NULL,
	[City] [varchar](255) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NEW] ([rn], [Country], [State], [City]) VALUES (1, N'United Kingdom', N'Aberdeen', N'Cleveland')
INSERT [dbo].[NEW] ([rn], [Country], [State], [City]) VALUES (2, N'United Kingdom', N'Aberdeen', N'Gilberdyke')
INSERT [dbo].[NEW] ([rn], [Country], [State], [City]) VALUES (3, N'United Kingdom', N'Aberdeen', N'Llanrwst')
GO
