USE [DS2OLTP]

GO

  UPDATE
   [CUSTOMERS] 
SET
    [CUSTOMERS].[FIRSTNAME]  = [MOCK_DATA].[first_name],
	[CUSTOMERS].[LASTNAME] = [MOCK_DATA].[last_name],
	[CUSTOMERS].[EMAIL] = [MOCK_DATA].[email]
FROM
    [MOCK_DATA] 
INNER JOIN
    [CUSTOMERS] 
ON 
    [MOCK_DATA].[id] = [CUSTOMERS].[CUSTOMERID];