USE [DS2OLTP]
GO
/****** Object:  Table [dbo].[StateFull]    Script Date: 21-Oct-17 20:49:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateFull](
	[stateID] [int] IDENTITY(1,1) NOT NULL,
	[stateCode] [nchar](2) NOT NULL,
	[stateName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_state] PRIMARY KEY CLUSTERED 
(
	[stateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[StateFull] ON 

INSERT [dbo].[StateFull] ([stateID], [stateCode], [stateName]) VALUES (1, N'AL', N'Alabama')
INSERT [dbo].[StateFull] ([stateID], [stateCode], [stateName]) VALUES (2, N'AK', N'Alaska')
INSERT [dbo].[StateFull] ([stateID], [stateCode], [stateName]) VALUES (3, N'AZ', N'Arizona')
SET IDENTITY_INSERT [dbo].[StateFull] OFF
